/* colores*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 241, 222);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.footer {
  background-color: rgb(255, 227, 185);
  margin-bottom: 0;
  position: absolute;
  width: 100%;
}
.footer .navRedes {
  text-align: center;
}
.footer .navRedes ul {
  display: inline-block;
  /*Makes the icons inline block level elements. This will let us animate the transform property.*/
  font-size: 44px;
}
.footer .navRedes ul .liRedes__instagram, .footer .navRedes ul .liRedes__twitter, .footer .navRedes ul .liRedes__facebook {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  margin-top: 3vh;
}
.footer .navRedes ul .liRedes__instagram .instagram, .footer .navRedes ul .liRedes__twitter .instagram, .footer .navRedes ul .liRedes__facebook .instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: 10px;
}
.footer .navRedes ul .liRedes__facebook .facebook {
  text-decoration: none;
  color: rgb(0, 110, 255);
  margin: 10px;
}
.footer .navRedes ul .liRedes__twitter .twitter {
  text-decoration: none;
  color: rgb(0, 183, 255);
  margin: 10px;
}
.footer .copyright {
  text-align: center;
}

@keyframes float {
  0% {
    transform: translateY(0);
    /*The starting point of the animation is 0.*/
  }
  50% {
    transform: translateY(-25px);
    /*The middle point of the animation is -15xp. This will move the element up.*/
  }
  100% {
    transform: translateY(0);
    /*The last point of the animation is going back to the starting state of 0.*/
  }
}
.header {
  margin-top: 0px;
  background-color: rgb(255, 226, 182);
}
.header .logo {
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}

.nabvar {
  font-size: 19px;
}
.nabvar .color__nav {
  background-color: rgb(255, 214, 152);
}

.error404 {
  height: 80vh;
}
.error404 .div__error404 {
  justify-content: center;
  display: flex;
  margin-top: 5%;
}
.error404 .div__error404 .h1s {
  margin-top: 4vh;
  margin-bottom: 7vh;
  text-align: center;
}
.error404 .div__error404 .h2s {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.main__index .container-fluid {
  width: 80%;
}
.main__index div .h1s {
  margin-top: 4vh;
  margin-bottom: 7vh;
  text-align: center;
}
.main__index div .h2s {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.main__index div .h3s {
  color: rgb(0, 0, 0);
  margin-top: 4vh;
  margin-bottom: 4vh;
  text-align: center;
}
.main__index div .carousel-inner {
  width: 100%;
  margin-bottom: 4vh;
}
.main__index div .ancla__preview .preview {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 4vh;
  align-items: center;
  justify-content: center;
  border: 4px solid transparent;
  transition-duration: 1.7s;
}
.main__index div .ancla__preview .preview:hover {
  border: 4px solid rgb(255, 0, 0);
}

.main__descubre .h1s {
  margin-top: 4vh;
  margin-bottom: 7vh;
  text-align: center;
}
.main__descubre .h2s {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.main__descubre .p {
  justify-content: center;
  margin-right: 15px;
  margin-left: 15px;
  text-align: justify;
}
.main__descubre .container .centrado {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__descubre .container .centrado .card {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.main__ambienta .h1s {
  margin-top: 4vh;
  margin-bottom: 7vh;
  text-align: center;
}
.main__ambienta .p {
  justify-content: center;
  margin-right: 15px;
  margin-left: 15px;
  text-align: justify;
}
.main__ambienta .ambientar {
  margin: auto;
  width: 75%;
  display: flex;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.main__nosotros .h1s {
  margin-top: 4vh;
  margin-bottom: 7vh;
  text-align: center;
}
.main__nosotros .h2s {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.main__nosotros .p {
  justify-content: center;
  margin-right: 15px;
  margin-left: 15px;
  text-align: justify;
}
.main__nosotros .cards__nosotros .container div div .card {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.main__contacto .h1s {
  margin-top: 4vh;
  margin-bottom: 7vh;
  text-align: center;
}
.main__contacto .h2s {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.main__contacto .formularios .h2s {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.main__contacto .formularios .div__form__container {
  border: 3px solid rgb(255, 0, 0);
  align-items: center;
  width: 75%;
  background-image: url(../assets/images/fondo\ forms.jpg);
  background-size: cover;
  justify-content: center;
  margin: auto;
  padding-bottom: 2vh;
  padding-top: 2vh;
}
.main__contacto .formularios .div__form__container .div__form .partesform {
  border: 2px solid rgb(255, 153, 0);
  display: flex;
  width: 60%;
  height: 2rem;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.main__contacto .formularios .div__form__container .div__form .label__form {
  margin: auto;
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.main__contacto .formularios .div__form__container .div__form .botonesForm {
  display: flex;
  width: 60%;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2vh;
  margin-bottom: 2vh;
  justify-content: center;
  align-items: center;
}

.main__casas .h1s {
  margin-top: 4vh;
  margin-bottom: 7vh;
  text-align: center;
}
.main__casas .container-fluid {
  width: 80%;
}
.main__casas hr {
  height: 3px;
  width: 75%;
  align-items: center;
  justify-content: center;
  margin: 3vh auto;
  color: black;
  opacity: 75%;
}
.main__casas .div__distribucion .h2s {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.main__casas .div__distribucion .h3s {
  color: rgb(0, 0, 0);
  margin-left: 10px;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.main__casas .div__distribucion .p {
  justify-content: center;
  margin-right: 25px;
  margin-left: 25px;
  text-align: justify;
}

/*# sourceMappingURL=estilos.css.map */
