.header {
    margin-top: 0px;
    background-color: map-get($colores, header);

    .logo {
        margin-top: 10px;
        margin-left: 10px;
        text-align: center;
    }

}

.nabvar {
    font-size: 19px;

    .color__nav {
        background-color: rgb(255, 214, 152);
    }
}