.main__descubre {
    .h1s {
        @include titulo(4vh, 7vh, center, 34px)
    }

    .h2s {
        @include subtitulo(center, 4vh, 4vh, 30px)
    }

    .p {
        @include parrafo(center, 15px, 15px, justify)
    }

    .container {
        .centrado {
            display: flex;
            align-items: center;
            justify-content: center;

            .card {
                margin-top: 4vh;
                margin-bottom: 4vh;
                padding: 10px;
                background-color: map-get($colores, naranja);
                .card-body{
                    .card-title{
                        text-align: center;
                        font-size: 20px;
                    }
                    .card-text{
                        font-size: 18px;
                    }
                }
            }
            
            .color{
                background-color: $botones-card;
            }

        }
    }
}