.main__contacto {
    .h1s {
        @include titulo(4vh, 7vh, center, 34px)
    }

    .h2s {
        @include subtitulo(center, 4vh, 4vh, 30px)
    }

    .div__mapa{
        border: 3px solid map-get($colores, rojo);
        display: flex;
        margin: 10vh auto;
        width: 75%; 
        .mapa {
            width: 100%; 
        }
    }
    

    .formularios {
        .h2s {
            @include subtitulo(center, 4vh, 4vh, 30px)
        }

        .div__form__container {
            border: 3px solid map-get($colores, rojo);
            align-items: center;
            width: 75%;
            background-image: url(../assets/images/fondo\ forms.jpg);
            background-size: cover;
            justify-content: center;
            margin: auto;
            padding: 2vh;

            .div__form {
                .partesform {
                    border: 2px solid $labels;
                    display: flex;
                    width: 60%;
                    height: 2rem;
                    margin: 3vh auto;
                }

                .label__form {
                    margin: auto;
                    display: flex;
                    width: 35%;
                    align-items: center;
                    justify-content: center;
                    color: rgb(255, 255, 255);
                }

                .botonesForm {
                    display: flex;
                    width: 60%;
                    flex-direction: column;
                    flex-wrap: wrap;
                    margin: 2vh auto;
                    justify-content: center;
                    align-items: center;
                    background-color: $botones-card;

                    &:hover{
                        background-color: rgb(255, 226, 172);
                    }
                }
            }
        }
    }
}