@mixin titulo($top, $bottom, $center, $px)
{
    margin-top: $top;
    margin-bottom: $bottom;
    text-align: $center;
    font-size: $px;
}

@mixin parrafo($center, $mright, $mleft, $justify)
{
    justify-content: $center;
    margin-right: $mright;
    margin-left: $mleft;
    text-align: $justify;
}

@mixin subtitulo($center, $mtop, $mbottom, $px)
{
    text-align: $center;
    margin-top: $mtop;
    margin-bottom: $mbottom;
    font-size: $px;
}
