/* colores*/
$colores: (
    body: rgb(253, 241, 222),
    header: rgb(255, 226, 182),
    footer: rgb(255, 227, 185),
    facebook: rgb(0, 110, 255),
    twitter: rgb(0, 183, 255),
);

$rojo: rgb(255, 0, 0);
$form: rgb(156, 70, 0);
$labels: rgb(255, 153, 0);


